.grid-container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
}

.left-component {
    background: deepskyblue;
}

.right-component {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
}

.product-display {
   background: orange;
   display: grid;
   grid-template-rows: 2fr 1fr;
}

.shopping-cart-display {
  background: purple;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

/* For the Left Hand Pane Frame */

.header-cell {
  height: 8vh;
  background: royalblue;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.header-title {
    color: white;
}

.market-graphic {
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(auto-fit, 25vh);
  grid-row-gap: 1rem;
}

.display-row {
    list-style: none;
    padding: 0;
    margin: 1rem;
    background: beige;
    display: grid; !important
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: start;
}

.sub-display-items { }

.category-cell {
    height: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    margin: 1rem;
    padding: 16px;
    text-align: center;
    justify-self: stretch;
}

/* For the Top Right Panel Frame */
.product-information-window {
    background: beige;
    margin: 1rem;
}

.add-to-cart-btn {
    margin: 1rem;
    background: red;
}

.btn-label {
    font-size: 25px;
    color: white;
}

/* For the Bottom Right Panel Frame */
.shopping-cart-window {
    background: beige;
    margin: 1rem;
}

.cart-action-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

.clear-btn {
    background: grey;
    margin-right: 0.5rem;
}

.checkout-btn {
    background: green;
    margin-left: 0.5rem;
}
